<div class="demo-layout-transparent mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <!-- Logo title -->
             <span class="title mdl-layout-title">
               <img class="android-logo-image" src="images/ideamarket-logo.png">
             </span>

            <div class="mdl-layout-spacer"></div>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase">How it works</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase">Sign up</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase">Login</a>
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="fixed-header-drawer-exp">
                    <i class="material-icons">search</i>
                </label>
            </nav>
        </div>
    </header>

</div>