<footer class="android-footer mdl-mega-footer">

  <div class="mdl-mega-footer--top-section">
    <div class="mdl-mega-footer--left-section">
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
      &nbsp;
      <button class="mdl-mega-footer--social-btn"></button>
    </div>
    <div class="mdl-mega-footer--right-section">
      <a class="mdl-typography--font-light" href="#top">
        Back to Top
        <i class="material-icons">expand_less</i>
      </a>
    </div>
  </div>

  <div class="mdl-mega-footer--middle-section" align="center">
    <p class="mdl-typography--font-bold">© 2016 Idea Market Inc.</p>
  </div>

  <div class="mdl-mega-footer--bottom-section" align="center">
    <ul class="mdl-menu mdl-js-menu mdl-menu--top-left mdl-js-ripple-effect" for="developers-dropdown">
      <li class="mdl-menu__item">App developer resources</li>
      <li class="mdl-menu__item">Android Open Source Project</li>
      <li class="mdl-menu__item">Android SDK</li>
      <li class="mdl-menu__item">Android for Work</li>
    </ul>
  </div>

</footer>