<div class="header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <!-- Navigation -->
        <div class="android-navigation-container">
            <nav class="android-navigation mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">I have an idea</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">I am looking for ideas</a>
            </nav>
        </div>
          <span class="mobile-title mdl-layout-title">
            <img class="android-logo-image" src="images/android-logo.png">
          </span>

    </div>
</div>
