<a name="top"></a>
<div class="banner mdl-typography--text-center">
    <div class="logo-font slogan">
        <div>Ideas are cheap, execution is everything</div>
    </div>
    <div class="logo-font sub-slogan">Become an Ideator and share your ideas around the world</div>
</div>
<h1>About Us</h1>
<div class="mdl-grid">
  {{#each model.aboutList as | about index|}}
      <div class="mdl-card__actions mdl-card--border"></div>
      <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet"><img src="{{about.image}}"></div>
      </div>
      <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet">
              <div class="mdl-card mdl-shadow--2dp">
                  <div class="mdl-card__title">
                      <h2 class="mdl-card__title-text">{{about.title}}</h2>
                  </div>
                  <div class="mdl-card__supporting-text"><p>{{about.description}}</p></div>
              </div>
          </div>
      </div>
  {{/each}}

</div>
