<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  {{application-header}}

  <div class="android-content mdl-layout__content">
    {{outlet}}

    {{application-footer}}
  </div>
</div>

<a href="#" target="_blank"
   id="sign-in"
   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Signin</a>