<a name="top"></a>
<div class="banner mdl-typography--text-center">
    <div class="logo-font slogan">
        <div>Your ideas matter. The world needs it.</div>
    </div>
    <div class="logo-font sub-slogan">The largest online community of ideators around the world. Join now for FREE!
    </div>
    &nbsp;
    <div>
        <button class="button mdl-typography--text-uppercase">I have an idea</button>
        &nbsp;
        <button class="button mdl-typography--text-uppercase">Looking for ideas</button>
    </div>
</div>
<div class="entry-content">
{{#each model.aboutList as | about index|}}
    <div class="featureBlock">
        <div class="item">
        <img class="image" src="{{about.image}}">
        <div class="caption">
            <h3>{{about.title}}</h3>
            <p>{{about.description}}</p></div>
        </div>
        <div class="mdl-card__actions mdl-card--border"></div>
    </div>

{{/each}}
</div>

    <div class="android-section-title mdl-typography--display-1-color-contrast">Featured Ideas</div>
    <div class="android-card-container mdl-grid">
      {{#each model.features as |feature|}}
        {{feature-card feature=feature}}
      {{/each}}
    </div>
