<a name="top"></a>
<div class="banner mdl-typography--text-center">
    <div class="logo-font slogan">
        <div>ideas are cheap but not free</div>
    </div>
    <div class="logo-font sub-slogan">Share it because the world is better with it. </div>
</div>

<div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">Featured Ideas</div>
    <div class="android-card-container mdl-grid">
      {{#each model.features as |feature|}}
        {{feature-card feature=feature}}
      {{/each}}
    </div>
</div>